<div class="test-nav-container">
    <form class="form-inline">
        <input type="text" class="input-small" id="name" placeholder="Name">
        <input type="text" class="input-small" id="age" placeholder="Age">
        <button class="btn btn-primary add" type="button">Add</button>
        <span class="error hide">
        </span> 
    </form>  
</div>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
